* {
    font-family: Poppins;
}
header {
    background-color: #ce0505;
    height: 70px;
    position: relative;
    
}

.logo-span{
    background-color: white;
    border-radius: 50%;
    padding: 5px 13px;
    margin-bottom: 3px;
    position: absolute;
    left: 80px;
    top: 8px;
    bottom: 5px;

}

.logo {
    color :#ce0505;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    bottom: 5px;
    
   
}

.login-signup {
    position: absolute;
    right: 50px;
    top: 20px;
    word-spacing: 20px;
}

.login {
    color: white;
    text-decoration: none;
    
}

.signup {
    color: white;
    word-spacing: normal;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 5px;
    border-radius: 5px;
}
 

.heading {
    margin: 8px 5px 0px 113px;
    font-size: 36px;
    font-weight:bolder;
    text-align: left;
    color: #192f60;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
}

.left {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    height: 682px;;
    margin: 27px 2px 8px 113px;
    padding: 17px 25px 31px 26px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.right {
    display: inline-block;
}
.Rest {
    width: 700px;
    height: 291px;
    margin: 27px 100px 34px 45px;
    box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}


.Filters {
     font-size: 18px;
     font-weight: 600;
     margin: 0 154px 10px 0;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.5;
     letter-spacing: normal;
     text-align: left;
     color: #192f60;
}

.Select_Location{
    font-size: 14px;
    margin: 10px 10px 11px 1px;
    color: #192f60;
}

select {
    font-size: 14px;
    color: #8c96ab;

}

.Cuisine {
    margin: 22px 100px 15px 1px;
    font-size: 14px;
    color: #192f60;
}

.chebox_name {
    font-size: 14px;
    margin-top: 10px;
    color: #8c96ab;
}

.Cost-for-Two {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #192f60;
}

.cost1 {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #8c96ab;
}

.sort {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #192f60;
}

.Low-high {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #8c96ab;
}

.img-div {
    display: inline-block;

}

.img {
  display: inline-block;
  margin-top: 20px;
  margin-left:20px;
  height: 120px;
  width: 120px;
  border-radius: 15px;
  
}

.res-name {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
}

.H-name {
    font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
  color: #192f60;
}

.Fort {
    margin-left: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 500;
    color: #192f60;
}

.Shop {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #636f88;
}

.down-1 {
display: inline-block;
padding-top: 15px;
padding-left: 30px;
}

.label-1 {
    font-size: 16px;
    color: #636f88;
    margin-bottom: 10px;
}

.pagenation {
    padding-top: 20px;
    padding-left: 170px;
}

.page-2 {
    width: 36px;
    height: 36px;
    margin: 0 12px;
    color: #8c96ab;;
    padding: 5px 12px 3px 13px;
    border-radius: 7px;
    border: solid 1px #8c96ab;
    background-color: #ffffff;
    text-decoration: none;
}

.page-2:hover{
    color: white;
     background-color : #8c96ab; 
}