.Form {
    margin-left: 30%;
    margin-top: 10%;
    padding: 50px;
    height: 200px;
    width: 400px;
    border: 1px black solid;
    background-color :lightcyan;
    background-repeat: no-repeat;
    background-size: 100%;
}

.header {
    font-size: 30px;
    color:black;
    font-weight: 600;
    text-align: center;
    padding: 15px;
}

.pass {
    position: absolute;
    left: 638px;
}
